@using Team7_StationeryStore.Models
@{
    ViewData["Title"] = "viewDisbursements";
    var dlist = (List<Disbursement>)ViewData["disbursements"];
}
@{
    Layout = "~/Views/Shared/_departmentrepresentativehome.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf=8">
    <title>Disbursements</title>
    <link rel="stylesheet" type="text/css" href="~/css/viewReq.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <script src="https://use.fontawesome.com/973befe495.js"></script>
    <link href="https://code.jquery.com/jquery-3.3.1.js" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
</head>

<body>



    <div id="main">
        <div class="requisitioncontainer" id="All">
            <h4>Disbursements</h4>
            <table class="requisitiontable">
                <tr>
                    <th>Id</th>
                    <th>Processed Date</th>
                    <th>Delivery Date</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
                @foreach (var d in dlist)
                {
                    <tr>
                        <td>@d.Id</td>
                        <td>@d.GeneratedDate.ToString("dd-MMM-yyyy")</td>
                        <td>@d.CollectionDate.ToString("dd-MMM-yyyy")</td>
                        <td>@d.status</td>
                        <td>
                            <a onclick="openDetailBox('@d.Id')"><u>View</u></a>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="bg-modal">
            <div class="modal-contents">
                <button id="close" onclick="closePopUp()"><i class="fas fa-times"></i></button>
                <div class="disbTitle">
                    <h1><span>Disbursement</span> Details</h1>
                </div>
                <div class="changeDisb" id="DisbDetails">
                    <form id="submitForm">
                        <label for="CollectionDate"> Collection Date</label>
                        <p name="CollectionDate" id="collDateSpec">
                        <label for="CollectionPoint">Collection Point</label>
                        <p name="collPtSpec" id="collPtSpec"></p>
                        <div class="modal-table1">
                            <table style="width:100%">
                                <tr style="border-bottom: 1px solid gray;">
                                    <th>Item</th>
                                    <th>Requested</th>
                                    <th>Retrieved</th>
                                </tr>
                                <tbody id="disbDetailsQty" class="disbDetailsQty">
                                </tbody>
                            </table>
                        </div>
                        <input type="hidden" id="disId" />
                        <button id="btnsubmit" onclick="changeStatus()">Submit Changes</button>
                    </form>

                </div>
            </div>
        </div>

        
        <script>

            function openDetailBox(e) {
                $.ajax({
                    type: 'POST',
                    url: '/StationeryStore/GetEmployeeTest',
                    data: { 'id': e },
                    dataType: "json",
                    success: function (response) {
                        var jsonObject = JSON.parse(response.disbursementJson);
                        document.getElementById('collDateSpec').innerHTML = jsonObject.CollectionDate;
                        document.getElementById('collPtSpec').innerHTML = jsonObject.Departments.CollectionPoint.Location;
                        console.log("status is" + jsonObject.status);
                        var status = jsonObject.status.toString();

                        if (status == "2") {
                            document.getElementById("btnsubmit").disabled = true;
                        }
                        else {
                            document.getElementById("btnsubmit").disabled = false;
                        }
                        document.getElementById("disId").value = e;
                        //document.getElementById('repSpec').appendChild(p);
                        var items = jsonObject.DisbursementDetails;
                        console.log("items is" + items);
                        $('.disbDetailsQty').html("");

                        var tabledisQty = document.getElementById('disbDetailsQty');
                        for (var i = 0; i < items.length; i++) {
                            var distributedQty = parseInt(items[i].RequisitionDetail.DistributedQty);
                            var rowItem = `<tr>
                            <td>${items[i].RequisitionDetail.Inventory.description}</td>
                            <td>${items[i].RequisitionDetail.RequestedQty}</td>
                            <td>${distributedQty}</td>
                            <input type="hidden" id="rqdId" value=${jsonObject.Id}/>
                            </tr>`;
                            tabledisQty.innerHTML += rowItem;
                        }
                    }
                });

                document.querySelector('.bg-modal').style.display = "flex";
            }

            function closePopUp() {
                document.querySelector('.bg-modal').style.display = "none";
            }
            function changeStatus() {
                var disId = document.getElementById('disId').value;
                console.log("disId :" + disId);
                $.ajax({
                    type: 'POST',
                    url: '/StationeryStore/SaveStatusToCompletedInDisb',
                    data: { 'disId': disId },
                    success: function (result) {
                        console.log("wow" + result);
                    }
                });
                
            }
            function openDetail(id) {
                document.getElementById("disid").innerHTML = id;
                console.log(status);

                document.getElementById("myDetail").style.width = "250px";
                document.getElementById("All").style.marginRight = "300px";
                $.ajax({
                    url: "/Department/findDisbursementDetail/id",
                    method: "POST",
                    data: { disId: id },
                    dataType: 'json',
                    success: function (response) {
                        console.log("hello detail");
                        $('.table-body-req-detail').html("");
                        if (response.lenght != 0) {
                            $('.table-body-req-detail').append(`<tr><th>Item Code</td><td>Requested Quantity</td></tr>`)
                        }
                        for (const item of response) {
                            $('.table-body-req-detail').append(`<tr><td>${item.itemCode}</td><td>${item.recievedQty}</td></tr>`)
                        }
                        console.log(response);
                    }
                });
            }
            
        </script>
</body>
</html>
