@using  Team7_StationeryStore.Models;

@{
    ViewData["Title"] = "viewRetrieval";
    Dictionary<string, int> totalItemQty = (Dictionary<string, int>)ViewData["totalItemQty"];
    Dictionary<string, List<RequisitionDetail>> reqPerDept = (Dictionary<string, List<RequisitionDetail>>)ViewData["reqPerDept"];
    int i;
    int totalQtyPerDept;
    List<Requisition> requis = (List<Requisition>)ViewData["Requisitions"];
    int j = 0;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf=8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/css/viewRetrieval.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://use.fontawesome.com/973befe495.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
    <script src="~/js/viewRetrieval.js"></script>
</head>

<body>
    @foreach (var r in totalItemQty)
    {
        <div class="itemcontainer">
            <div class="itemheader">
                <p>@r.Key</p>
                <p>@r.Value</p>
            </div>

            <table class="itemtable">
                <tr>
                    <th>Department</th>
                    <th>Requested</th>
                    <th>Recommended</th>
                </tr>
                @foreach (var rd in reqPerDept)
                {
                    i = 0;
                    totalQtyPerDept = 0;
                    @foreach (var rz in rd.Value)
                    {
                        if (rz.Inventory.description == r.Key)
                        {
                            if (i == 0)
                            {
                                <tr class="departmentOverview" onclick="showRequests()">
                                    <td class="departmentName">@rd.Key</td>
                                    <td></td>
                                </tr>
                            }
                            <tr class="requestdetail">
                                <td class="requestId">@rz.Requisition.Id</td>
                                <td class="requestedQty">@rz.RequestedQty</td>
                                @{totalQtyPerDept += rz.RequestedQty;}
                                <td class="recommendedQty"><input type="text" placeholder="@rz.DistributedQty" /></td>
                            </tr>

                            i++;
                        }
                    }
                    if (i != 0)
                    {
                        <tr>
                            <th>Total Qty:</th>
                            <td>@totalQtyPerDept </td>
                        </tr>
                    }

                }
            </table>
        </div>
    }

    <form asp-controller="StationeryStore" asp-action="generateDisbursement" method="POST">

        <table>
            @foreach (var rqs in requis)
            {
                <tr>
                    <td><input type=hidden value="@rqs.Id" name="req"></td>
                </tr>
            }
        </table>
        <input id="genretrieval" type="submit" value="Generate Disbursement List" style="font-size:11px"/>
    </form>
</body>
