@using Team7_StationeryStore.Models;

@{
    ViewData["Title"] = "ViewInventory";
    var lists = (List<Inventory>)ViewData["stationeryCatalgoue"];
    var categories = (List<ItemCategory>)ViewData["categories"];
    var userid = TempData["userid"];
    var username = ViewData["username"];
}

    <head>

        <title>View Inventory</title>
        <link href="~/css/ViewInventory.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    </head>
<body>

    <div id="main">
        <h5>Inventory</h5>
        <table id="itemtable">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Adjustment Voucher</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var i in lists)
                {
                    <tr>
                        <td><p class="code">@i.itemCode</p></td>
                        <td class="itemdescri">@i.description</td>
                        <td>@i.stock</td>
                        <td><button class="btnadju" onclick="createAdjustment('@i.Id','@i.itemCode')"><i class="fas fa-pencil-alt"></i></button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="bg-modal">
        <div class="modal-contents">
            <button id="close" onclick="closePopUp()"><i class="fas fa-window-close"></i></button>
            <div class="modal-header">
                <p style="letter-spacing: 0px; color: grey;">Adjustment Voucher</p>
                <span id="item"><p>Item Code:</p><p class="title" id="myModalLabel">#Item Code Item Name</p></span>
            </div>
            <hr style="margin:unset;" />
            <div class="modal-body">
                <form asp-controller="StationeryStore" asp-action="CreateAdjustment" method="POST">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" min="-99" max="99">

                    <label for="reason">Reason</label>
                    <textarea placeholder="Reason(s) for adjustment voucher" id="reason" name="reason" required></textarea>

                    <input type="hidden" id="itemId" name="itemId">
                    <button type="submit">Create Voucher</button>
                </form>
            </div>
        </div>
    </div>


    <script>
        function createAdjustment(id, itemCode) {
            document.querySelector('.bg-modal').style.display = "flex";
            console.log(id);
            console.log(itemCode);
            document.getElementById("itemId").value = id;
            document.getElementById("myModalLabel").innerHTML = itemCode;
        }

        function closePopUp() {
            document.querySelector('.bg-modal').style.display = "none";
        }
    </script>
</body>




