@{
    ViewData["Title"] = "viewDisbursements";
    List<Disbursement> disb = (List<Disbursement>)ViewData["disbursements"];
    List<Departments> departments = (List<Departments>)ViewData["departments"];
    List<Disbursement> completedDisbursement = (List<Disbursement>)ViewData["completedDisb"];
    List<CollectionPoint> collectionPoint = (List<CollectionPoint>)ViewData["collectPoints"];

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf=8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/css/viewDisbursements.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://use.fontawesome.com/973befe495.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/viewDisbursements.js"></script>
</head>

<body>

    <div class="requisitionmenu">
        <button class="tablinks" onclick="openReq(event, 'Pending')" id="defaultOpen">Pending</button>
        <button class="tablinks" onclick="openReq(event, 'Collected')">Collected</button>
    </div>

    <div id="maindisbursements">
        <div class="requisitioncontainer" id="Pending">
            <div class="requisitionfilter">
                <form>
                    <h1>Disbursements</h1>
                    <fieldset>
                        <div style="float:left;margin-right:20px;">
                            <label for="CompiledOn">Compiled On</label>
                            <input type="Date" name="EndDate" id="dateCompiledPending">
                        </div>
                        <div style="float:left;">
                            <label for="CollectDate">Collection Date</label>
                            <input type="Date" name="CollectDate" id="dateCollectionPending">
                        </div>
                    </fieldset>

                    <fieldset>
                        <div style="float:left;margin-right:20px;">
                            <label for="Department">Department name</label>
                            <select id="deptPending" name="Department">
                                <option value="a" selected>All Departments</option>
                                @foreach (var d in departments)
                                {
                                    <option value="@d.DeptName">@d.DeptName</option>

                                }
                            </select>
                        </div>
                    </fieldset>
                </form>
            </div>


            <table class="requisitiontable" id="Pendingtable">
                <tr>
                    <th>Collection Date</th>
                    <th>Department</th>
                    <th>Compiled On</th>
                    <th>Prepared By</th>
                    <th>Acknowledgement</th>
                </tr>
                <tbody id="pendingUnfiltered">
                    @foreach (var d in disb)
                    {
                        var id = d.Id.ToString();
                        <tr onclick="viewDisDetail('@id')">
                            <td>@d.CollectionDate.ToShortDateString()</td>
                            <td>@d.Departments.DeptName</td>
                            <td>@d.GeneratedDate.ToShortDateString()</td>
                            <td>Adam Smith</td>
                            <td><button onclick="" style="color:#1f5f89"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="requisitioncontainer" id="Collected">
            <div class="requisitionfilter">
                <form>
                    <h1>Disbursements</h1>
                    <fieldset>
                        <div style="float:left;margin-right:20px;">
                            <label for="CompiledOn">Compiled On</label>
                            <input type="Date" name="EndDate" id="completedCompiledDate">
                        </div>
                        <div style="float:left;">
                            <label for="CollectDate">Collection Date</label>
                            <input type="Date" name="CollectDate" id="completedCollDate">
                        </div>
                    </fieldset>

                    <fieldset>
                        <div style="float:left;margin-right:20px;">
                            <label for="Department">Department name</label>
                            <select id="deptCollected" name="Department">
                                <option value="a" selected>All Departments</option>
                                @foreach (var d in departments)
                                {
                                    <option value="@d.DeptName" selected>@d.DeptName</option>

                                }
                            </select>
                        </div>
                    </fieldset>
                </form>
            </div>

            <table class="requisitiontable">
                <tr onclick="viewDisDetail()">
                    <th>Collection Date</th>
                    <th>Department</th>
                    <th>Compiled On</th>
                    <th>Prepared By</th>
                </tr>
                <tbody id="completedUnfiltered">
                    @foreach (var d in completedDisbursement)
                    {
                        <tr onclick="viewDisDetail()">
                            <td>@d.CollectionDate</td>
                            <td>@d.Departments.DeptName</td>
                            <td>@d.GeneratedDate</td>
                            <td>Adam Smith</td>
                            <td><button onclick="" style="color:#1f5f89"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

 <div class="bg-modal">
        <div class="modal-contents">
            <div id="close">+</div>
            <div class="disbTitle">
                <h1><span>Disbursement</span> Details</h1>
                <hr>
            </div>
            <div class="changeDisb" id="DisbDetails">
                <form id="submitForm">
                    <label for="CollectionDate"> Collection Date</label>
                    <input type="Date" name="CollectionDate" id="collDateSpec">
                    <label for="CollectionPoint">Collection Point</label>
                    <select name="CollectionPoint" id="collPtSpec">
                        @foreach (var cp in collectionPoint)
                        {
                        <option value="@cp.Location">@cp.Location</option>
                        }
                    </select>
                    <label for="Rep">Representative Name</label>
                    <p name="Rep" id="repSpec"></p>

                    <div class="modal-table">
                        <table>
                            <tr style="border-bottom: 1px solid gray;">
                                <th>Item</th>
                                <th>Requested</th>
                                <th>Retrieved</th>
                            </tr>
                            <tbody id="disbDetailsQty">
                            </tbody>
                        </table>
                    </div>
                    <button onclick="submitChangesDisb()">Submit Changes</button>
                </form>

            </div>
        </div>
</div>
</body>
</html>