@using  Team7_StationeryStore.Models;

@{
    ViewData["Title"] = "viewRetrieval";
    Dictionary<string, int> totalItemQty = (Dictionary<string, int>)ViewData["totalItemQty"];
    Dictionary<string, List<RequisitionDetail>> reqPerDept = (Dictionary<string, List<RequisitionDetail>>)ViewData["reqPerDept"];
    int i;
    int totalQtyPerDept; 
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf=8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/css/viewRetrieval.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://use.fontawesome.com/973befe495.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
</head>

<body>
    @foreach (var r in totalItemQty)
    {
    <div class="itemcontainer">
        <div class="itemheader">
            <p>@r.Key</p>
            <p>@r.Value</p>
        </div>

        <table class="itemtable">
            <tr>
                <th>Department</th>
                <th>Requested</th>
                <th>Recommended</th>
            </tr>
            @foreach (var rd in reqPerDept)
            {
                i = 0;
                totalQtyPerDept = 0;
                @foreach (var rz in rd.Value)
                {
                    if (rz.Inventory.description == r.Key)
                    {
                        if (i == 0)
                        {
                            <tr class="departmentOverview" onclick="showRequests()">
                                <td class="departmentName">@rd.Key</td>
                                <td></td>
                            </tr>
                        }
                        <tr class="requestdetail">
                            <td class="requestId">@rz.Requisition.Id</td>
                            <td class="requestedQty">@rz.RequestedQty</td>
                            @{totalQtyPerDept += rz.RequestedQty;}
                            <td class="recommendedQty"><input type="text" placeholder="@rz.DistributedQty" /></td>
                        </tr>

                        i++;
                    }
                }
                if (i != 0){
                <tr>
                    <th>Total Qty:</th>
                    <td>@totalQtyPerDept </td>
                </tr>
                }

             }
        </table>

    </div>
    }

    <script>

        function showRequests() {
            var x = document.getElementsByClassName("requestdetail");
            var i;
            for (i = 0; i < x.length; i++) {
                if (x[i].style.visibility === "collapse")
                    x[i].style.visibility = "visible";
                else x[i].style.visibility = "collapse";
            }


        }

        function viewDisDetail() {
            document.getElementByClass("disbursementDetail").style.display = "block";
        }

        function openDetail() {
            document.getElementById("myDetail").style.width = "300px";
            document.getElementById("All").style.marginRight = "250px";
            document.getElementById("Outstanding").style.marginRight = "250px";
            document.getElementById("New").style.marginRight = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeDetail() {
            document.getElementById("myDetail").style.width = "0";
            document.getElementById("All").style.marginRight = "auto";
            document.getElementById("Outstanding").style.marginRight = "auto";
            document.getElementById("New").style.marginRight = "auto";
        }

        function showQty() {
            document.getElementById = ("changeQty").style.display = "block";
            document.getElementById = "editQtybtn".style.display = "none";
        }

        function showChangeStatus() {
            document.getElementById("changeStatus").style.display = "block";
            document.getElementById("originalStatus").style.display = "none";
        }

        document.getElementById("defaultOpen").click();

        function openReq(evt, cityName) {
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("requisitioncontainer");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function viewDisDetail() {
            document.querySelector('.bg-modal').style.display = "flex";
        };

        document.querySelector('.close').addEventListener("click", function () {
            document.querySelector('.bg-modal').style.display = "none";
        });
    </script>
</body>
