@using Team7_StationeryStore.Models;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var lists = (List<Inventory>)ViewData["stationeryCatalgoue"];
    var categories = (List<ItemCategory>)ViewData["categories"];
    var userid = TempData["userid"];
    var username = ViewData["username"];
    var supplier = (Supplier)ViewData["supplier"];
}


<head>
    <title>View Inventory</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/css/PurchaseOrder.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<br>



<div id="main">
    <form asp-controller="PurchaseOrder" asp-action="ViewCart" method="POST">
        <input type="hidden" value="@supplier.Id" name="supplier" />
        <button class="ViewCartBtn" type="submit"><i class="fas fa-shopping-cart"></i> View Cart</button>
    </form>

    <form asp-controller="PurchaseOrder" asp-action="SelectSupplier" method="POST">
        <button type="submit" id="backToSuppl"><i class="fas fa-arrow-left"></i> Select another supplier</button>
    </form>
    <h2 style="color: white">Items sold by <span style="color: #f2d468; font-weight: 800; font-style: italic;">@supplier.name</span></h2>


    <table class="steelBlueCols">
        <thead>
            <tr>
                <th>Item</th>
                <th>In Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in lists)
                    {
            <tr>
                <td>@i.description</td>
                <td>@i.stock</td>
                <td>
                    <button class="btnCart" onclick="addToCartPurchase('@i.Id', '@i.description',
    '@i.measurementUnit')">
                        Add to Cart
                    </button>
                </td>

            </tr>
                    }
        </tbody>
    </table>
</div>
<div class="bg-modal">
    <div class="modal-contents">
        <button id="close" onclick="closePopUp()"><i class="fas fa-window-close"></i></button>
        <div class="modal-header">
            <p style="display: inline-block;">Purchase Quantity</p>
            <h4 style="display: inline-block;" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
            <form asp-controller="PurchaseOrder" asp-action="AddToCart" method="POST">
                <input type="number" id="quantity" name="quantity" min="1" max="50" style="display: inline-block;" placeholder="1">
                <p id="units" style="display: inline-block;"></p>
                <input type="hidden" id="itemId" name="itemId">
                <button id="submitQty" type="submit"><i class="fas fa-arrow-right"></i> </button>
            </form>
        </div>
    </div>
</div>

<script>
    function addToCartPurchase(id, itemCode, itemDesc) {
        document.querySelector('.bg-modal').style.display = "flex";
        console.log(id);
        console.log(itemCode);
        console.log(id);
        console.log(itemCode);
        console.log(itemDesc);
        document.getElementById("itemId").value = id;
        document.getElementById("units").innerHTML = itemDesc;
        document.getElementById("myModalLabel").innerHTML = itemCode;
    }

        function closePopUp() {
  document.querySelector('.bg-modal').style.display = "none";
}
</script>



