@{
    ViewData["Title"] = "PurchaseOrderDetail";
    var lists = (List<PurchaseOrderDetails>)ViewData["purchaseOrderDetail"];
    var username = ViewData["username"];
    var userid = ViewData["userid"];
    var po = (PurchaseOrder)ViewData["po"];
}

<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<header>
    <ul>
        <li class="logo">Logic <span>Stationery</span></li>
        <li> <button class="menubtn" href="#inventory">Inventory</li>
        <li> <button class="menubtn" href="#requisitions">Requisitions</button></li>
        <li><p class="userdetails">@username</p> <img src="~/lib/img/employeeicon.jpg"> </li>
    </ul>
</header>

<h2 style="text-align:center">PurchaseOrderDetail</h2>
<br />
<br />

<div class="container">
    <div align=center>
        <div>
            <h7 style="float:left;">
                Purchase Order ID:
                @po.Id 

            </h7>
            <h7>
                Supplier:
                @po.Supplier.name
            </h7>
            <h7 style="float:right;">
                Status:
                @po.status
            </h7>

        </div>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Quantity</th>

                    </tr>
                </thead>

                <tbody>

                    @foreach (var i in lists)
                    {
                        <tr>

                            <td class="text-left">@i.InventoryId</td>
                            <td class="text-left">@i.quantity</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>





