
@{
    ViewData["Title"] = "ViewAllPurchaseOrders";
    var lists = (List<PurchaseOrder>)ViewData["purchaseOrders"];
    var username = ViewData["username"];
}

<head>
    <title>Purchase Orders</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="ViewAllPurchaseOrder.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<div id="main">
    <div id="POheader">
        <form asp-controller="StationeryStore" asp-action="startPurchaseOrderAnalysis" method="POST">
            <button style="display: inline-block; float: left;" type="submit" id="analyze"><i class="fas fa-calculator"></i> Analytics</button>
        </form>
    </div>

    <div class="requisitioncontainer">
        <div class="requisitionfilter">
            <p>Purchase Orders</p>
            <form asp-controller="PurchaseOrder" asp-action="SelectSupplier" method="POST">
                <button style="display: inline-block float: left;" type="submit" id="createPO"><i class="fas fa-plus-square"></i> Create New PO</button>
            </form>
        </div>
        <table class="requisitiontable table" cellspacing="0" width="100%">
            <tr>
                <th>Date</th>
                <th>Id</th>
                <th>Supplier</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            @foreach (var c in lists)
            {
                <tr>
                    <td class="text-left"><a asp-controller="PurchaseOrder" asp-action="PurchaseOrderDetail" asp-route-poid="@c.Id">@c.Id</a></td>
                    <td class="text-left">@c.date</td>
                    <td class="text-left">@c.Supplier.name</td>
                    <td class="text-left">@c.status</td>
                    <td class="text-left">
                        <button onclick="updateStatus('@c.Id')" class="updateBtn">Update</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="bg-modal">
    <div class="modal-contents">
        <button id="close" onclick="closePopUp()"><i class="fas fa-window-close"></i></button>
        <div class="modal-body">
            <p>Has the supplier fulfilled the order?</p>
            <div id="yesorno">
                <button id="no" style="display: inline-block;" onclick="closePopUp()"><i class="fas fa-times"></i></button>
                <form asp-controller="PurchaseOrder" asp-action="UpdateStatus" method="POST">
                    <input type="hidden" id="poId" name="poId">
                    <button style="display: inline-block; background: #7bc5ae;" class="yesbtn" type="submit" id="yes"><i class="fas fa-check"></i></button>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    function updateStatus(id) {
        document.querySelector('.bg-modal').style.display = "flex";
        document.getElementById("poId").value = id;
    }

    function closePopUp() {
        document.querySelector('.bg-modal').style.display = "none";
    }
</script>
